.MainToolbar {
  display: flex;
  flex-direction: row;
  font-size: calc(max(0.7em, 1.1vw));
  height: calc(4em + 20px);
  color: white;
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: inherit;
    background-color: var(--toolbar-background);
    z-index: -1;
  }
  & > span.title {
    font-size: 2em;
    padding: .1em 1em;
  }
  & .ToolbarDropdown {
    margin-right: .5em;
  }
  & .tools-wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    padding: .2em 0;
    overflow-x: auto;
    overflow-y: hidden;
    & > * {
      flex-shrink: 0;
    }
    & .ToolbarButton {
      min-width: 4.5em;
      margin: 0 .2em;
    }
  }
  & input[type=color] {
    display: none;
  }
}
