.MainToolbar {
  display: flex;
  flex-direction: row;
  font-size: calc(max(0.7em, 1.1vw));
  color: white;
  &::before {
    content: '';
    width: 100%;
    height: 100%;
    margin-right: -100%;
    margin-bottom: -100%;
    background-color: var(--toolbar-background);
  }
  & > span.title {
    font-size: 2em;
    padding: .1em 1em;
    user-select: none;
    flex: 0 0 auto;
  }
  & > .toolbar-wrapper {
    flex: 1 0;
    min-width: 0;
    height: calc(4em + 20px);
    display: flex;
    flex-direction: row;
    & > .ToolbarDropdown {
      margin-right: .5em;
    }
    & > .tools-wrapper {
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      padding: .2em 0;
      overflow-x: auto;
      overflow-y: hidden;
      & > .ToolbarButton {
        flex-shrink: 0;
      }
      & > .ToolbarButton {
        min-width: 4.5em;
        margin: 0 .2em;
      }
    }
  }
}
@media screen and (max-width: 40rem) {
  .MainToolbar {
    flex-wrap: wrap;
    & > span.title {
      width: 100%;
    }
  }
}
