.DisplayArea {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.MainToolbar {
  position: fixed;
  width: 100vw;
  height: 10vh;
  background-color: rgb(49, 49, 51);
  color: white;
  z-index: 1;
}
