.Modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0,0,0,.3);
}

.Modal .title-bar {
  color: white;
  background-color: var(--toolbar-background);
  padding: .2rem;
  display: flex;
}
.Modal .title-bar span.title {
  margin: auto;
}
.Modal .title-bar span.close-icon {
  display: block;
  height: 1rem;
  width: 1rem;
}
.Modal .title-bar span.close-icon::before {
  content: '';
  display: block;
  width: 150%;
  height: 150%;
  position: relative;
  top: -25%;
  left: -25%;
  background-image: url('assets/white-plus.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: rotateZ(45deg);
}
