.Modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0,0,0,.3);
  & > .window {
    background-color: white;
    color: black;
    min-width: 30vw;
    min-height: 30vh;
    max-width: 70vw;
    max-height: 70vh;

    & > .title-bar {
      color: white;
      background-color: var(--toolbar-background);
      padding: .2rem;
      display: flex;
      align-items: center;
      font-size: 1.6rem;
      & > span.title {
        margin: auto;
        padding: .2rem;
      }
      & span.close-icon {
        display: block;
        height: .8em;
        width: .8em;
        &::before {
          content: '';
          display: block;
          width: 130%;
          height: 130%;
          position: relative;
          top: -15%;
          left: -15%;
          background-image: url('assets/white-plus.svg');
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          transform: rotateZ(45deg);
        }
      }
    }
  }

  & > .content {
    padding: 1rem;
  }
}
