.ToolbarButton {
  --border-thickness: .125rem;
  padding: .2rem;
  border: var(--border-thickness) solid transparent;
  outline: none;
  background-color: transparent;
  font-size: inherit;
  color: white;
  text-align: center;
  &:hover {
    border: var(--border-thickness) solid rgba(255,255,255,.1);
    background-color: rgba(255,255,255,.05);
  }
  &:active {
    border: var(--border-thickness) solid rgba(255,255,255,.15);
    background-color: rgba(255,255,255,.075);
  }
  &.selected {
    border: var(--border-thickness) solid rgba(255,255,255,.2);
    background-color: rgba(255,255,255,.1);
  }
  &[disabled] {
    border: var(--border-thickness) solid transparent;
    background-color: transparent;
    opacity: 0.5;
  }

  & > .icon {
    height: 2rem;
    width: 2rem;
  }
  & > span.icon {
    display: inline-block;
    &.border {
      border: .2rem solid white;
    }
  }
}
